/* colours */

/* primary */

$primary1: #737B92;
$primary2: #32DFCA;

/* font colours */

$heading1-clr: #fff;
$subheading-clr: rgb(91, 75, 75);
$paragraph-clr: #000;
$learn-more-btn-clr: rgb(191, 196, 253);

/* background */

$background-clr: #3B404E;

/* borders */

$border-main-clr: #bababa;


/* sizes */

$heading1-fs: 3rem;
$paragraph-fs: 1rem;