@import '../universal-styles.scss';

.outDiv {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary1;

    .logoDiv {
        width: 17.5rem;
        max-width: 200px;
        position: relative;
        text-align: center;
        img {
            position: relative;
            width: 40px;
        }
    }
    .menu {
        display: flex;
        gap: 2.5rem;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s ease;
            &:hover {
                padding-bottom: 5px;
                color: $primary1;
            }
        }
    }
    .buttons {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 300px;
        justify-content: center;
        align-items: center;

        button {
            padding: 10px;
            height: 35px;
            border: none;
            border-radius: 5%;
            cursor: pointer;
            width: 5rem;
            color: #fff;
        }

        .primary-btn1 {
            background-color: $primary1;
        }

        .primary-btn2 {
            background-color: $primary2;
        }
    }
}